
// Body
$body-bg: #fcfcfc;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Theme colors

$primary: #4e1850;
$secondary: #9561e2;

$danger: #b52037;
$success: #4dc0b5;
